/* Base styles for header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.logo img {
  height: 50px;
}

.header-right {
  display: flex;
  align-items: center;
}

.login-btn {
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  border: 1px solid transparent;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 8px;
}

.courses-link {
  color: #0d6efd;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;
  padding-right: 0.5rem;
  font-weight: 400;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.courses-link:hover {
  color: #458bf4;
}

/* Hamburger menu styles */
.input[type="checkbox"] {
  display: none;
}

/* Style the hamburger menu icon */
.menu-label {
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  background-color: #0d6efd;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

.menu {
  display: none;
  flex-direction: column;
  background-color: #ffffff;
  position: absolute;
  top: 60px; /* Adjust this value to your header's height */
  right: 10px; /* Adjust this value for placement */
  z-index: 1000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center-align menu items */
  margin-top: 25px;
}

.menu a {
  text-align: center; /* Center-align the link text */
  display: block; /* Display each link as a block element */
  padding: 10px; /* Add some padding for spacing */
  margin-bottom: 10px;
}


/* Set menu width to 100% on smaller screens */
@media (max-width: 768px) {
  .menu-label {
    display: block; /* Show the menu label for mobile screens */
  }

  .menu {
    width: 100%;
  }
  
  .login-btn {
    
  }

  /* Hide the header-right content on mobile screens */
  .header-right {
    display: none;
  }
}

/* Show the menu when the checkbox is checked */
input[type="checkbox"]:checked + .menu-label + .menu {
  display: flex;
}

/* Initially hide the menu on larger screens */
@media (min-width: 769px) {
  .menu-label {
    display: none;
  }
}

/* Hide the checkbox input */
input[type="checkbox"] {
  display: none;
}

/* Style the mobile menu login button */
.login-btn-mobile {
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem; /* Decreased font size for a smaller button */
  border-radius: 0.2rem;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  border: 1px solid transparent;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 78px;
  margin-right: 140px;
  display: inline-block; /* Make it an inline-block element to control width */
  width: 85px; /* Allow the button to adjust its width based on content */
}