@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tailwind CSS styles */

/* Styles for the container */
.container {
  max-width: 900px;
  width: 120%;
  margin: 40px auto;
  margin-top: 140px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: auto;
  min-height: 450px;
}

.quizContainer {
  display: flex;
}

/* Apply the "highlight" class to top 3 recommended careers */
ol#careerList li:nth-child(1),
ol#careerList li:nth-child(2),
ol#careerList li:nth-child(3) {
  background-color: lightgreen; /* Customize this color as needed */
  color: rgb(0, 0, 0);
}

ol#careerList li {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
  color: #323131;
}

/* Styles for first H1 */
.mainHeading {
  font-weight: bold;
  font-size: large;
  font-size: 26px;
  margin-bottom: 10px;
}

/* Styles for questions and answers */
.question-container {
  margin-bottom: 30px;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #606060;
}

h3 {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #606060;
}

/* Styles for action buttons */
.action-btn {
  display: inline-block;
  width: 150px;
  padding: 15px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  height: 60px;
}

#back {
  float: left;
  background-color: transparent;
  border: 2px solid #4caf50;
  color: #4caf50;
}

#next {
  float: right;
}

.action-btn:disabled {
  background-color: #a5d6a7;
  color: white;
  cursor: not-allowed;
}

/* Styles for the result */
.result {
  text-align: left;
  padding: 20px;
  background-color: #ffffff;
}

.result h2 {
  margin-bottom: 30px;
}

h4 {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ea0606;
}

ol#careerList li {
  margin-bottom: 10px;
  margin-top: 20px;
}


.hidden {
  display: none;
}

/* Styles for the answer log */
.log {
  text-align: left;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px;
}

.log h2 {
  margin-bottom: 20px;
}

ol#log li {
  margin-bottom: 10px;
}

/* Style for the "Show Answer Log" button */
#showLogBtn {
  margin-top: 20px;
}

#tryAgain {
  margin-bottom: 20px;
}

/* Custom styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    margin: 20px auto;
    margin-bottom: 110px;
    padding: 20px; /* Simplify padding declaration */
    padding-top: 100px;
    height: auto;
    max-width: 768px;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 450px; /* Adjusted max-width for smaller screens */
    padding-bottom: 110px;
    padding-top: 130px;
  }
}

/* Responsive adjustments for question and quiz containers */
@media (max-width: 768px) {
  .question-container {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.2rem; /* Decrease font size for smaller screens */
    margin-bottom: 15px; /* Adjust margin for smaller screens */
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 15px;
  }
}

/* Additional responsive adjustments for smaller screens (e.g., mobile) */
@media (max-width: 500px) {
  .question-container {
    margin-bottom: 15px; /* Further reduce margin for smaller screens */
  }

  h2 {
    font-size: 1.1rem; /* Further decrease font size for smaller screens */
  }

  h3 {
    font-size: 0.9rem; /* Further decrease font size for smaller screens */
    margin-bottom: 10px; /* Further reduce margin for smaller screens */
  }
}